
Motors_P1/Saved/Logs/Motors_P1.log
Motors_P1/Intermediate/CachedAssetRegistry.bin
Motors_P1/Saved/AutoScreenshot.png
Motors_P1/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Motors_P1/Saved/Logs/Motors_P1.log
